{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet sixteen wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('club.new_club') }}">
                Suggest a Club
                <i class="caret right icon"></i>
            </a>
            <h2 class="ui header">
                Club Ratings
            </h2>

            <div class="ui menu">
                <div id="select-category" class="ui dropdown item">
                    <div class="text">
                        All club types
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="">All club types</div>
                        {% for c in categories %}
                            <div class="item" data-value="{{ c.category_name }}">{{ c.category_name }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-clubs" type="text" placeholder="Search clubs…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
<style>
th { max-width: 150px !important;word-wrap: break-word; white-space: normal !important; }
</style>
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>Club Name</th>
                            <th>Club Categories</th>
                            <th>Club Description</th>
                            {% for q in questions %}
                            <th>{{ q.content }} (max: {{q.max_rating}})</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in all_c %}
                        <tr onclick="window.location.href ='{{ url_for('club.club_info', club_id=c.id) }}';">

                            <td>{{ c.name }}</td>
                            <td>{% for c in c.categories %}<div class="ui label"> {{ c.category_name }} </div> <br>{% endfor %}</td>
                            
                            <td>{{ c.description }}</td>
                            {% for q in questions %}
                            <td>
                            {% for qc in c %}
                            {% if qc == q.content %}
                            {{ c[qc][0] }}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
          console.log('hello')
            $('#search-clubs').keyup(function () {
                console.log("HI")
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-category').dropdown({
                onChange: function (value, text, $selectedItem) {
                  console.log("HI")
                  var searchText = value
                  console.log(value)
                  if (searchText.length > 0) {
                  $('tbody td:icontains(' + searchText + ')').addClass('positive');
                  $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                  $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                  $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                  } else {
                  $('td.positive').removeClass('positive');
                  $('tr.hidden').removeClass('hidden').show();
                }
                }
            });
        });
    </script>
 
{% endblock %}
