{% extends 'layouts/base.html' %}

{% block content %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/icon.min.css" />
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet sixteen wide computer centered column">
      <br><br>
            <h2 class="ui header">
                Club Ratings 
            </h2>
            <br>
            <a class="" href="{{ url_for('club.new_club') }}">
                Suggest a Club
                <i class="caret right icon"></i>
            </a>
            <br><br>

            <div class="ui menu">
                <div id="select-category" class="ui dropdown item">
                    <div class="text">
                        All club types
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="">All club types</div>
                        {% for c in categories %}
                            <div class="item" data-value="{{ c.category_name }}">{{ c.category_name }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui search item">
                    <div class="ui transparent icon input">
                        <input id="search-clubs" type="text" placeholder="Search clubs…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
             <br><br>
<div class="ui stackable four column grid" id="res">
  <div class="ui cards">
    {% for c in all_c %}
    <div class="ui card" id="card">
      <div class="image">
        <img src="{{ c.img_link }}">
      </div>
      <div class="content">
        <a class="header" href="{{ url_for('club.club_info', club_id=c.id) }}">{{ c.name }}</a>
        <div class="description">
          {{ c.description }}
        </div>
      </div>
      <div class="extra">
        {% for c in c.categories %}<div class="ui label"> {{ c.category_name }} </div> &nbsp; &nbsp;{% endfor %}
        {% for q in questions %}
        {% for qc in c %}
        {% if qc == q.content %}
        <a class="ui blue label">
          <i class="{{ q.icon_name }} icon"></i>
          {{ q.short_name }}
          <div class="detail"> {{ c[qc] }}</div>
        </a>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

    <script type="text/javascript">
        $(document).ready(function () {
          console.log('hello')
            $('#search-clubs').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('.cards').find('.card').each(function() {
                      var t = $(this).text().toLowerCase()
                      if (t.includes(searchText.toLowerCase())) {
                        $(this).css('display', 'block');
                        $(this).css('background-color', 'rgba(0, 240, 0, 0.2)')
                      } else {
                        $(this).css('display', 'none');
                        $(this).css('background-color', '#FFF')
                      }
                    })
                } else {
                  $('.cards').find('.card').each(function() {
                    $(this).css('display', 'block');
                    $(this).css('background-color', '#FFF')
                  })
                }
            });

            $('#select-category').dropdown({
                onChange: function (value, text, $selectedItem) {
                  console.log("HI")
                  var searchText = value
                  console.log(value)
                if (searchText.length > 0) {
                    $('.cards').find('.card').each(function() {
                      var t = $(this).text().toLowerCase()
                      if (t.includes(searchText.toLowerCase())) {
                        $(this).css('display', 'block');
                        $(this).css('background-color', 'rgba(0, 240, 0, 0.2)')
                      } else {
                        $(this).css('display', 'none');
                        $(this).css('background-color', '#FFF')
                      }
                    })
                } else {
                  $('.cards').find('.card').each(function() {
                    $(this).css('display', 'block');
                    $(this).css('background-color', '#FFF')
                  })
                }
                }
            });
        });
    </script>
 
{% endblock %}
